/* All */

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 50px;
    background-color: antiquewhite;
    padding: 8px;
}

.flying_pig {
    max-height: 50px;
    max-width: auto;
    margin-right: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

.left {
    display: flex;
    justify-content: left;
}

.right {
    margin-right: 10px;
}

.logo_title {
    flex-shrink: 0;
    font-size: medium;
}

/* body */

.body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.brisket {
    width: 300px;
    height: 200px;
}

.main_text {
    max-width: 400px;
}

/* info */

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-top: 30px;
    background-color: darkred;
    color: white;
    padding: 8px;
}

.info_img {
    width: 128px;
    height: 81px;
}

.info {
    max-width: 200px;
}

/* Quote */

.quote {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: #E5E7EB;
    color: black;
    text-align: center;

    padding: 8px;
}

.quote_author {
    font-weight: bold;
    text-align: right;
    margin-right: 50px;
}

/* Footer */

.footer {
    display: flex;
    margin: 50px;
    background-color: #3882f6;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 30%;
    padding: 8px;
}

.footer_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.footer_button {
    color: white;
    background-color: #3882f6;
    border-width: 3px;
    border-color: white;
    font-weight: bold;
    border-radius: 8px;
}

.footer_title {
    font-size: large;
}



